.PerformanceAndProductivityContainer {
  height: auto;
  background-color: rgb(32, 44, 63);
  font-family: Titillium Web;

  .PerformanceAndProductivityHeader {
    height: 84px;
    background-color: rgb(24, 30, 42);
    font-size: 28px;
    font-weight: bold;
    color: white;
    padding-left: 24px;
    padding-right: 24px;
  }
}