.listContainer {
  
  .cardContainer {
    border: none;
    border-radius: 0px;
    background-color: rgba(35, 43, 56, 0);

    .CollapsedListItemContainer {
      height: 73px;
      background-color: rgb(35, 43, 56);
      font-size: 30px;
      border-bottom: 2px solid #35425c;
      .kpiTitle{
        color: #dee5ef;
        width: 45%;
      }
      .kpiValue{
        color: #dee5ef;
        font-weight: bold;
        width: 25%;
      }
      .deltaComponent{
        width: 25%;
      }
      .expandButton{
        color: #67758d;
        width: 5%;
      }
    }

    .ExpandedListItemContainer {
      background-color: rgb(35, 43, 56);
      margin-bottom: 2px;

    }
  }
}