.au {
  top: 500px;
  left: 600px;
  color: white;
  z-index: 2;
  position: absolute;
  font-size: 30px;
}
.my {
  top: 550px;
  left: 800px;
  color: white;
  z-index: 2;
  position: absolute;
  font-size: 30px;
}
.th {
  top: 400px;
  left: 550px;
  color: white;
  z-index: 2;
  position: absolute;
  font-size: 30px;
}
.vn {
  top: 350px;
  left: 950px;
  color: white;
  z-index: 2;
  position: absolute;
  font-size: 30px;
}
.id {
  top: 800px;
  left: 600px;
  color: white;
  z-index: 2;
  position: absolute;
  font-size: 30px;
}
.ph {
  top: 400px;
  left: 1300px;
  color: white;
  z-index: 2;
  position: absolute;
  font-size: 30px;
}
.kh {
  top: 280px;
  left: 900px;
  color: white;
  z-index: 2;
  position: absolute;
  font-size: 30px;
}
.kz {
  top: 680px;
  left: 900px;
  color: white;
  z-index: 2;
  position: absolute;
  font-size: 30px;
}
.ir {
  top: 380px;
  left: 900px;
  color: white;
  z-index: 2;
  position: absolute;
  font-size: 30px;
}

.iq {
  top: 250px;
  left: 1150px;
  color: white;
  z-index: 2;
  position: absolute;
  font-size: 30px;
}
.sa {
  top: 500px;
  left: 750px;
  color: white;
  z-index: 2;
  position: absolute;
  font-size: 30px;
}
.kw {
  top: 430px;
  left: 1200px;
  color: white;
  z-index: 2;
  position: absolute;
  font-size: 30px;
}
.ae {
  top: 480px;
  left: 1400px;
  color: white;
  z-index: 2;
  position: absolute;
  font-size: 30px;
}
.om {
  top: 680px;
  left: 1400px;
  color: white;
  z-index: 2;
  position: absolute;
  font-size: 30px;
}
.ru {
  top: 500px;
  left: 1300px;
  color: white;
  z-index: 2;
  position: absolute;
  font-size: 30px;
}
.no {
  top: 200px;
  left: 800px;
  color: white;
  z-index: 2;
  position: absolute;
  font-size: 30px;
}
.nl {
  top: 550px;
  left: 850px;
  color: white;
  z-index: 2;
  position: absolute;
  font-size: 30px;
}

.dz {
  top: 350px;
  left: 550px;
  color: white;
  z-index: 2;
  position: absolute;
  font-size: 30px;
}
.ly {
  top: 550px;
  left: 850px;
  color: white;
  z-index: 2;
  position: absolute;
  font-size: 30px;
}
.eg {
  top: 300px;
  left: 1700px;
  color: white;
  z-index: 2;
  position: absolute;
  font-size: 30px;
}
.sd {
  top: 550px;
  left: 1750px;
  color: white;
  z-index: 2;
  position: absolute;
  font-size: 30px;
}

.td {
  top: 150px;
  left: 850px;
  color: white;
  z-index: 2;
  position: absolute;
  font-size: 30px;
}

.cm {
  top: 350px;
  left: 750px;
  color: white;
  z-index: 2;
  position: absolute;
  font-size: 30px;
}
.ga {
  top: 550px;
  left: 800px;
  color: white;
  z-index: 2;
  position: absolute;
  font-size: 30px;
}
.cg {
  top: 500px;
  left: 1100px;
  color: white;
  z-index: 2;
  position: absolute;
  font-size: 30px;
}
.ao {
  top: 750px;
  left: 820px;
  color: white;
  z-index: 2;
  position: absolute;
  font-size: 30px;
}

.us {
  top: 750px;
  left: 540px;
  color: white;
  z-index: 2;
  position: absolute;
  font-size: 30px;
}

.ca {
  top: 500px;
  left: 1320px;
  color: white;
  z-index: 2;
  position: absolute;
  font-size: 30px;
}

.mx {
  top: 500px;
  left: 750px;
  color: white;
  z-index: 2;
  position: absolute;
  font-size: 30px;
}

.ar {
  top: 650px;
  left: 900px;
  color: white;
  z-index: 2;
  position: absolute;
  font-size: 30px;
}

.br {
  top: 250px;
  left: 1450px;
  color: white;
  z-index: 2;
  position: absolute;
  font-size: 30px;
}

.ve {
  top: 20px;
  left: 1200px;
  color: white;
  z-index: 2;
  position: absolute;
  font-size: 30px;
}
.co {
  top: 30px;
  left: 900px;
  color: white;
  z-index: 2;
  position: absolute;
  font-size: 30px;
}

.ec {
  top: 200px;
  left: 850px;
  color: white;
  z-index: 2;
  position: absolute;
  font-size: 30px;
}
.ng {
  top: 700px;
  left: 1200px;
  color: white;
  z-index: 2;
  position: absolute;
  font-size: 30px;
}
