.deltaValuesContainer {
  color: #97a4ba;
  font-size: 22px;

  .container {
    // margin-right: 20px;
    .title {
      margin-right: 8px;

      .deltaIcon {
        margin-bottom: 6px;
      }
    }
    .value{

    }

  }
}