.orgLandingContainer {
  width: 5365px;
  height: 2160px;
  background-color: rgb(53, 66, 92);

  .orgLandingHeader {
    height: 114px;
    background-color: black;
    font-family: Titillium Web;
    font-size: 45px;
    font-weight: 600;
    color: white;
  }

  .orgLandingContentContainer {
    margin: 25px 32px 24px 24px;

    .hsseNewsContainer {
      width: 1041px;
      
    }
  }
}