.BuLubesLossGainAnalysisContiner {
  width: 1041px;
  // margin-right: 10px;
  // margin-bottom: 18px;
  // border: solid 0.5px rgb(149, 149, 149);
  background-color: rgb(32, 44, 63);
  font-family: Titillium Web;
  color: white;

  .BuCcsHeader {
    background-color: black;
    height: 114px;
    padding-left: 45px;
    padding-right: 45px;

    .HeaderTop {
      color: white;
      font-size: 35px;
      font-weight: bold;
    }

    .legendsContainer {
      // margin-left: 50px;
      // margin-right: 130px;
      margin-top: 10px;
      font-size: 20px;
      color: #64779c;

      .legendsHeader {
        color: #fafafa;
        font-size: 24px;
        ;
      }

      .dot1 {
        height: 24px;
        width: 24px;
        background-image: linear-gradient(to bottom, #00a8ec, #00e0bc);
        border-radius: 50%;
      }

      .dot2 {
        height: 24px;
        width: 24px;
        background-image: linear-gradient(to bottom, #fde093, #fabd5a);
        border-radius: 50%;
      }

      .dot3 {
        height: 24px;
        width: 24px;
        background-image: linear-gradient(to bottom, #ff91bf, #ff588b);
        border-radius: 50%;
      }

      .dot4 {
        height: 24px;
        width: 24px;
        background-image: linear-gradient(to bottom, #b4ec51, #65ce3a 119%);
        border-radius: 50%;
      }
    }

  }

  .graphContainer {
    .graphFilters {
      margin-left: 25px;
      font-size: 24px;
      color: white;
    }

  }
}
