.mapContainer {
  // margin: 0 auto;
  width: 2100px;
  height: 1219px;
  border-top: solid 0.5px #959595;
  border-right: solid 0.5px #959595;
  border-left: solid 0.5px #959595;
  border-bottom: solid 0.5px #959595;

  // border: 1px solid red;
  // display: flex;
  // justify-content: center;
  // align-items: center;
}
