.FinancialRatioContainer {
  height: auto;
  font-family: Titillium Web;

  .FinancialRatioHeader {
    height: 84px;
    background-color: rgb(24, 30, 42);
    font-size: 28px;
    font-weight: bold;
    color: white;
    padding-left: 24px;
    padding-right: 24px;
  }

  
}