.Sensexsection{
    width: 100%;
    height: 100%;
    .SensexGraphSection{
        width: 100%;
        height: 60%;
        .SensexGraph {
            width: 100%;
            height: 100%;
        }
    }
    .SensexContent{
        width: 100%;
        height: 40%;
        padding: 15px;
        .SensexContenthead{
            color: #8fa9db;
            margin-bottom: 0;
            .SensexContentheadspan{
                color: #74ce12;
            }
        }
        .SensexContentp{
            color: #fff;
            font-size: 20px;
            .SensexContentpspan{
                color: #74ce12;
                margin-left: 15px;
            }
        }
    }
}