.ytdMtd {
  // left: 179px;
  // top: 158px;
  // text-align: center;
  font-family: Titillium Web;
  position: absolute;
  height: 48px;
  width: 225px;
  background-color: #323b4e;
  border-radius: 4px;
  // border: solid 1px #67758d;
  font-size: 22px;

  .ytd {
    text-align: center;
    flex: 1;
    border-right: 5px solid #67758d;
    height: inherit;
    .value {
      flex: 1;
      // padding-left: 20px;
      color: #06bee1
    }

    .percentage {
      flex: 1;
      // padding-right: 20px;
      color: white
    }
  }

  .mtd {
    text-align: center;
    flex: 1;
    .value {
      flex: 1;
      // padding-left: 20px;
      color: #06bee1
    }
    
    .percentage {
      flex: 1;
      // padding-right: 20px;
      color: white
    }
  }
}