.growthContainer {
  background-color: rgb(32, 44, 63);
  width: 2117px;
  margin-right: 24px;
  font-family: Titillium Web;

  .growthHeader {
    height: 84px;
    background-color: rgb(24, 30, 42);
    font-size: 28px;
    font-weight: bold;
    color: white;
    padding-left: 24px;
    padding-right: 24px;
  }
  .growthContentContainer{
    margin: 24px 0px 24px 24px;
    height: 490px;
  }
}